In [1]:
#Importing some important libraries 
import numpy as np 
import pandas as pd
#important libraries to habdle catigerocal data
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder
#libraries to handle splitting 
from sklearn.model_selection import train_test_split
#libraries to handle feature scaling 
from sklearn.preprocessing import StandardScaler
# DL libraries
from tensorflow.keras.models import Sequential  
from tensorflow.keras.layers import Dense

In [2]:
#Reading dataset
df = pd.read_csv('bank.csv')

In [3]:
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes
1,56,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes
2,41,technician,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes
3,55,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes
4,54,admin.,married,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes

In [4]:
#checking for missing data if there is any and how many 
df.isnull().sum()

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
deposit      0
dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11162 entries, 0 to 11161
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        11162 non-null  int64
 1   job        11162 non-null  object
 2   marital    11162 non-null  object
 3   education  11162 non-null  object
 4   default    11162 non-null  object
 5   balance    11162 non-null  int64
 6   housing    11162 non-null  object
 7   loan       11162 non-null  object
 8   contact    11162 non-null  object
 9   day        11162 non-null  int64
 10  month      11162 non-null  object
 11  duration   11162 non-null  int64
 12  campaign   11162 non-null  int64
 13  pdays      11162 non-null  int64
 14  previous   11162 non-null  int64
 15  poutcome   11162 non-null  object
 16  deposit    11162 non-null  object
dtypes: int64(7), object(10)
memory usage: 1.4+ MB

In [6]:
#Splitting data into inputs as x and outputs as y
x = df.iloc[:, :16].values
y = df.iloc[:, -1:].values

In [7]:
#then we check the input rows and coulmns shape
x.shape

(11162, 16)

In [8]:
x

array([[59, 'admin.', 'married', ..., -1, 0, 'unknown'],
       [56, 'admin.', 'married', ..., -1, 0, 'unknown'],
       [41, 'technician', 'married', ..., -1, 0, 'unknown'],
       ...,
       [32, 'technician', 'single', ..., -1, 0, 'unknown'],
       [43, 'technician', 'married', ..., 172, 5, 'failure'],
       [34, 'technician', 'married', ..., -1, 0, 'unknown']], dtype=object)

In [9]:
y.shape

(11162, 1)

In [10]:
y

array([['yes'],
       ['yes'],
       ['yes'],
       ...,
       ['no'],
       ['no'],
       ['no']], dtype=object)

In [11]:
# Handling categorical data
ct = ColumnTransformer([("one",OneHotEncoder(),[1,2,3,4,6,7,8,10,15])],remainder = "passthrough")
x = ct.fit_transform(x)

In [12]:
x

array([[1.0, 0.0, 0.0, ..., 1, -1, 0],
       [1.0, 0.0, 0.0, ..., 1, -1, 0],
       [0.0, 0.0, 0.0, ..., 1, -1, 0],
       ...,
       [0.0, 0.0, 0.0, ..., 2, -1, 0],
       [0.0, 0.0, 0.0, ..., 2, 172, 5],
       [0.0, 0.0, 0.0, ..., 1, -1, 0]], dtype=object)

In [13]:
ct2 = ColumnTransformer([('one', OneHotEncoder(), [0])], remainder = 'passthrough')
y = ct2.fit_transform(y)

In [14]:
#as we see the yes and no data converted to 0 and 1
y

array([[0., 1.],
       [0., 1.],
       [0., 1.],
       ...,
       [1., 0.],
       [1., 0.],
       [1., 0.]])

In [15]:
# Splitting data to train sets and test sets
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2, random_state = 0)

In [16]:
x_train

array([[0.0, 0.0, 0.0, ..., 1, -1, 0],
       [0.0, 0.0, 0.0, ..., 1, -1, 0],
       [0.0, 1.0, 0.0, ..., 5, -1, 0],
       ...,
       [0.0, 0.0, 0.0, ..., 8, -1, 0],
       [1.0, 0.0, 0.0, ..., 1, -1, 0],
       [0.0, 0.0, 0.0, ..., 1, -1, 0]], dtype=object)

In [17]:
Y_train

NameError: name 'Y_train' is not defined

In [18]:
y_train

array([[1., 0.],
       [0., 1.],
       [0., 1.],
       ...,
       [1., 0.],
       [1., 0.],
       [0., 1.]])

In [19]:
print('Inputs shape ', x.shape)
print('Outputs shape ', y.shape)
print('x_train shape ', x_train.shape)
print('x_test shape ', x_test.shape)
print('y_train shape ', y_train.shape)
print('y_test shape', y_test.shape)

Inputs shape  (11162, 51)
Outputs shape  (11162, 2)
x_train shape  (8929, 51)
x_test shape  (2233, 51)
y_train shape  (8929, 2)
y_test shape (2233, 2)

In [20]:
#feature scaling 
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.fit_transform(x_test)

In [21]:
# as we see compare to the previous x_train data the values has been scaled to similar unified range
x_train

array([[-0.37172192, -0.45760242, -0.17658264, ..., -0.56394809,
        -0.48428507, -0.35888264],
       [-0.37172192, -0.45760242, -0.17658264, ..., -0.56394809,
        -0.48428507, -0.35888264],
       [-0.37172192,  2.18530314, -0.17658264, ...,  0.92827075,
        -0.48428507, -0.35888264],
       ...,
       [-0.37172192, -0.45760242, -0.17658264, ...,  2.04743488,
        -0.48428507, -0.35888264],
       [ 2.69018306, -0.45760242, -0.17658264, ..., -0.56394809,
        -0.48428507, -0.35888264],
       [-0.37172192, -0.45760242, -0.17658264, ..., -0.56394809,
        -0.48428507, -0.35888264]])

In [22]:
#same scaling feature thing goes for x_text data value
x_test

array([[-0.35506564, -0.46571851, -0.16329932, ..., -0.51893725,
         2.62409874,  0.62465525],
       [-0.35506564, -0.46571851, -0.16329932, ..., -0.51893725,
         1.30248101,  1.63872661],
       [-0.35506564, -0.46571851, -0.16329932, ..., -0.17189116,
        -0.46885387, -0.38941612],
       ...,
       [-0.35506564, -0.46571851, -0.16329932, ..., -0.17189116,
        -0.46885387, -0.38941612],
       [ 2.81638066, -0.46571851, -0.16329932, ..., -0.51893725,
        -0.46885387, -0.38941612],
       [-0.35506564, -0.46571851, -0.16329932, ..., -0.17189116,
        -0.46885387, -0.38941612]])

In [23]:
# now we do the deep learning ann modeling
ob = Sequential()
ob.add(Dense(units = 50, kernel_initializer = 'random_uniform', activation = 'relu'))# Input layer
ob.add(Dense(units = 100, kernel_initializer = 'random_uniform', activation = 'relu'))# Hidden layer 1 
ob.add(Dense(units = 100, kernel_initializer = 'random_uniform', activation = 'relu'))# Hidden layer 2
ob.add(Dense(units = 2, kernel_initializer = 'random_uniform', activation = 'softmax'))# Output layer 
ob.compile(optimizer = 'adam', loss = 'categorical_crossentropy', metrics = ['accuracy'])# Compiling model 
ob.fit(x_train, y_train, epochs = 100)# Training the model

Epoch 1/100
280/280 [==============================] - 0s 1ms/step - loss: 0.4364 - accuracy: 0.7950
Epoch 2/100
280/280 [==============================] - 0s 1ms/step - loss: 0.3596 - accuracy: 0.8480
Epoch 3/100
280/280 [==============================] - 0s 1ms/step - loss: 0.3445 - accuracy: 0.8563
Epoch 4/100
280/280 [==============================] - 0s 1ms/step - loss: 0.3341 - accuracy: 0.8625
Epoch 5/100
280/280 [==============================] - 0s 1ms/step - loss: 0.3279 - accuracy: 0.8639
Epoch 6/100
280/280 [==============================] - 0s 1ms/step - loss: 0.3158 - accuracy: 0.8703
Epoch 7/100
280/280 [==============================] - 0s 1ms/step - loss: 0.3099 - accuracy: 0.8708
Epoch 8/100
280/280 [==============================] - 0s 1ms/step - loss: 0.3017 - accuracy: 0.8790
Epoch 9/100
280/280 [==============================] - 0s 1ms/step - loss: 0.3000 - accuracy: 0.8753
Epoch 10/100
280/280 [==============================] - 0s 1ms/step - loss: 0.2913 - accuracy: 0.8812
Epoch 11/100
280/280 [==============================] - 0s 1ms/step - loss: 0.2877 - accuracy: 0.8840
Epoch 12/100
280/280 [==============================] - 0s 2ms/step - loss: 0.2847 - accuracy: 0.8829
Epoch 13/100
280/280 [==============================] - 0s 1ms/step - loss: 0.2784 - accuracy: 0.8855
Epoch 14/100
280/280 [==============================] - 1s 2ms/step - loss: 0.2757 - accuracy: 0.8876
Epoch 15/100
280/280 [==============================] - 0s 1ms/step - loss: 0.2682 - accuracy: 0.8887
Epoch 16/100
280/280 [==============================] - 0s 1ms/step - loss: 0.2638 - accuracy: 0.8916
Epoch 17/100
280/280 [==============================] - 0s 989us/step - loss: 0.2564 - accuracy: 0.8934
Epoch 18/100
280/280 [==============================] - 0s 1ms/step - loss: 0.2528 - accuracy: 0.8969
Epoch 19/100
280/280 [==============================] - 1s 2ms/step - loss: 0.2470 - accuracy: 0.8971
Epoch 20/100
280/280 [==============================] - 1s 2ms/step - loss: 0.2467 - accuracy: 0.8977
Epoch 21/100
280/280 [==============================] - 0s 1ms/step - loss: 0.2363 - accuracy: 0.8999
Epoch 22/100
280/280 [==============================] - 0s 1ms/step - loss: 0.2360 - accuracy: 0.9025
Epoch 23/100
280/280 [==============================] - 0s 1ms/step - loss: 0.2244 - accuracy: 0.9065
Epoch 24/100
280/280 [==============================] - 0s 1ms/step - loss: 0.2303 - accuracy: 0.9039
Epoch 25/100
280/280 [==============================] - 0s 2ms/step - loss: 0.2342 - accuracy: 0.9004
Epoch 26/100
280/280 [==============================] - 0s 1ms/step - loss: 0.2129 - accuracy: 0.9095
Epoch 27/100
280/280 [==============================] - 0s 1ms/step - loss: 0.2193 - accuracy: 0.9065
Epoch 28/100
280/280 [==============================] - 0s 1ms/step - loss: 0.2037 - accuracy: 0.9123
Epoch 29/100
280/280 [==============================] - 0s 1ms/step - loss: 0.1992 - accuracy: 0.9151
Epoch 30/100
280/280 [==============================] - 0s 1ms/step - loss: 0.1916 - accuracy: 0.9193
Epoch 31/100
280/280 [==============================] - 0s 1ms/step - loss: 0.1906 - accuracy: 0.9160
Epoch 32/100
280/280 [==============================] - 0s 1ms/step - loss: 0.1825 - accuracy: 0.9219
Epoch 33/100
280/280 [==============================] - 0s 1ms/step - loss: 0.1793 - accuracy: 0.9242
Epoch 34/100
280/280 [==============================] - 0s 1ms/step - loss: 0.1796 - accuracy: 0.9210
Epoch 35/100
280/280 [==============================] - 0s 1ms/step - loss: 0.1727 - accuracy: 0.9245
Epoch 36/100
280/280 [==============================] - 0s 2ms/step - loss: 0.1621 - accuracy: 0.9300
Epoch 37/100
280/280 [==============================] - 0s 1ms/step - loss: 0.1602 - accuracy: 0.9280
Epoch 38/100
280/280 [==============================] - 0s 1ms/step - loss: 0.1602 - accuracy: 0.9270
Epoch 39/100
280/280 [==============================] - 0s 1ms/step - loss: 0.1501 - accuracy: 0.9316
Epoch 40/100
280/280 [==============================] - 1s 2ms/step - loss: 0.1495 - accuracy: 0.9346
Epoch 41/100
280/280 [==============================] - 0s 1ms/step - loss: 0.1461 - accuracy: 0.9366
Epoch 42/100
280/280 [==============================] - 0s 1ms/step - loss: 0.1593 - accuracy: 0.9300
Epoch 43/100
280/280 [==============================] - 0s 966us/step - loss: 0.1378 - accuracy: 0.9387
Epoch 44/100
280/280 [==============================] - 0s 1ms/step - loss: 0.1336 - accuracy: 0.9412
Epoch 45/100
280/280 [==============================] - 0s 1ms/step - loss: 0.1271 - accuracy: 0.9452
Epoch 46/100
280/280 [==============================] - 0s 987us/step - loss: 0.1209 - accuracy: 0.9447
Epoch 47/100
280/280 [==============================] - 0s 1ms/step - loss: 0.1110 - accuracy: 0.9509
Epoch 48/100
280/280 [==============================] - 0s 1ms/step - loss: 0.1161 - accuracy: 0.9493
Epoch 49/100
280/280 [==============================] - 0s 1ms/step - loss: 0.1193 - accuracy: 0.9467
Epoch 50/100
280/280 [==============================] - 0s 1ms/step - loss: 0.1215 - accuracy: 0.9484
Epoch 51/100
280/280 [==============================] - 0s 1ms/step - loss: 0.1134 - accuracy: 0.9521
Epoch 52/100
280/280 [==============================] - 0s 1ms/step - loss: 0.0986 - accuracy: 0.9601
Epoch 53/100
280/280 [==============================] - 0s 1ms/step - loss: 0.1240 - accuracy: 0.9428
Epoch 54/100
280/280 [==============================] - 0s 1ms/step - loss: 0.1044 - accuracy: 0.9558
Epoch 55/100
280/280 [==============================] - 0s 1ms/step - loss: 0.0826 - accuracy: 0.9628
Epoch 56/100
280/280 [==============================] - 0s 2ms/step - loss: 0.0843 - accuracy: 0.9639
Epoch 57/100
280/280 [==============================] - 0s 1ms/step - loss: 0.0950 - accuracy: 0.9616
Epoch 58/100
280/280 [==============================] - 0s 1ms/step - loss: 0.0895 - accuracy: 0.9639
Epoch 59/100
280/280 [==============================] - 0s 1ms/step - loss: 0.0844 - accuracy: 0.9673
Epoch 60/100
280/280 [==============================] - 0s 1ms/step - loss: 0.0942 - accuracy: 0.9610
Epoch 61/100
280/280 [==============================] - 0s 985us/step - loss: 0.0770 - accuracy: 0.9681
Epoch 62/100
280/280 [==============================] - 0s 1ms/step - loss: 0.0832 - accuracy: 0.9648
Epoch 63/100
280/280 [==============================] - 0s 1ms/step - loss: 0.0933 - accuracy: 0.9612
Epoch 64/100
280/280 [==============================] - 0s 1ms/step - loss: 0.0970 - accuracy: 0.9635
Epoch 65/100
280/280 [==============================] - 0s 983us/step - loss: 0.0626 - accuracy: 0.9742
Epoch 66/100
280/280 [==============================] - 0s 1ms/step - loss: 0.0606 - accuracy: 0.9747
Epoch 67/100
280/280 [==============================] - 0s 1ms/step - loss: 0.0572 - accuracy: 0.9770
Epoch 68/100
280/280 [==============================] - 0s 993us/step - loss: 0.0711 - accuracy: 0.9722
Epoch 69/100
280/280 [==============================] - 0s 1ms/step - loss: 0.0874 - accuracy: 0.9652
Epoch 70/100
280/280 [==============================] - 0s 1ms/step - loss: 0.0863 - accuracy: 0.9686
Epoch 71/100
280/280 [==============================] - 0s 1ms/step - loss: 0.0630 - accuracy: 0.9760
Epoch 72/100
280/280 [==============================] - 0s 1ms/step - loss: 0.0572 - accuracy: 0.9795
Epoch 73/100
280/280 [==============================] - 0s 1ms/step - loss: 0.0631 - accuracy: 0.9767
Epoch 74/100
280/280 [==============================] - 0s 1ms/step - loss: 0.0682 - accuracy: 0.9718: 0s - loss: 0.0672 - accuracy: 0.
Epoch 75/100
280/280 [==============================] - 0s 2ms/step - loss: 0.0521 - accuracy: 0.9805
Epoch 76/100
280/280 [==============================] - 0s 1ms/step - loss: 0.0559 - accuracy: 0.9797
Epoch 77/100
280/280 [==============================] - 0s 2ms/step - loss: 0.0626 - accuracy: 0.9742
Epoch 78/100
280/280 [==============================] - 0s 2ms/step - loss: 0.0646 - accuracy: 0.9788
Epoch 79/100
280/280 [==============================] - 1s 2ms/step - loss: 0.0558 - accuracy: 0.9791: 0s - loss: 0.0560 - accuracy: 0.
Epoch 80/100

280/280 [==============================] - ETA: 0s - loss: 0.0545 - accuracy: 0.97 - 1s 2ms/step - loss: 0.0559 - accuracy: 0.9783
Epoch 81/100
280/280 [==============================] - 0s 1ms/step - loss: 0.0543 - accuracy: 0.9807
Epoch 82/100
280/280 [==============================] - 0s 935us/step - loss: 0.0424 - accuracy: 0.9838
Epoch 83/100
280/280 [==============================] - 0s 1ms/step - loss: 0.0534 - accuracy: 0.9798
Epoch 84/100
280/280 [==============================] - 0s 2ms/step - loss: 0.0587 - accuracy: 0.9801
Epoch 85/100
280/280 [==============================] - 0s 1ms/step - loss: 0.0534 - accuracy: 0.9797
Epoch 86/100
280/280 [==============================] - 0s 2ms/step - loss: 0.0647 - accuracy: 0.9769
Epoch 87/100
280/280 [==============================] - 0s 1ms/step - loss: 0.0585 - accuracy: 0.9804
Epoch 88/100
280/280 [==============================] - 0s 1ms/step - loss: 0.0406 - accuracy: 0.9859
Epoch 89/100
280/280 [==============================] - 0s 1ms/step - loss: 0.0256 - accuracy: 0.9917
Epoch 90/100
280/280 [==============================] - 0s 1ms/step - loss: 0.0225 - accuracy: 0.9920
Epoch 91/100
280/280 [==============================] - 0s 1ms/step - loss: 0.0268 - accuracy: 0.9895
Epoch 92/100
280/280 [==============================] - 0s 1ms/step - loss: 0.0709 - accuracy: 0.9741
Epoch 93/100
280/280 [==============================] - 0s 1ms/step - loss: 0.0769 - accuracy: 0.9719
Epoch 94/100
280/280 [==============================] - 0s 1ms/step - loss: 0.0625 - accuracy: 0.9772
Epoch 95/100
280/280 [==============================] - 0s 1ms/step - loss: 0.0537 - accuracy: 0.9821
Epoch 96/100
280/280 [==============================] - 0s 1ms/step - loss: 0.0380 - accuracy: 0.9876
Epoch 97/100
280/280 [==============================] - 0s 1ms/step - loss: 0.0223 - accuracy: 0.9933
Epoch 98/100
280/280 [==============================] - 0s 1ms/step - loss: 0.0188 - accuracy: 0.9941
Epoch 99/100
280/280 [==============================] - 0s 1ms/step - loss: 0.0204 - accuracy: 0.9933
Epoch 100/100
280/280 [==============================] - 0s 1ms/step - loss: 0.0219 - accuracy: 0.9931

In [24]:
ypred = ob.predict(x_test)
ypred

array([[1.0000000e+00, 4.3574384e-25],
       [4.1056976e-09, 1.0000000e+00],
       [1.0000000e+00, 6.9362336e-32],
       ...,
       [4.2960291e-15, 1.0000000e+00],
       [9.9999976e-01, 1.8472095e-07],
       [1.0000000e+00, 2.6970641e-09]], dtype=float32)

In [25]:

df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes
1,56,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes
2,41,technician,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes
3,55,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes
4,54,admin.,married,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes